### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

df_school_data = school_data
df_student_data = student_data

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
df_school_data_complete = school_data_complete
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [6]:
#Count the total number of schools 
df_total_school_count = df_school_data['school_name'].count()

#Sum the total number of students in size column
total_student_sum = df_school_data['size'].sum()

#Sum the total budget
total_district_budget = df_school_data['budget'].sum()

#Calculate the average math score using mean
average_math_score = df_school_data_complete['math_score'].mean()

#Calculate the average math score
average_reading_score = df_school_data_complete['reading_score'].mean()

#Percentage of students with passing math score
passing_math_score = df_school_data_complete[df_school_data_complete['math_score'] >= 70]
math_score_count = passing_math_score['student_name'].count()
passing_math_average = (math_score_count/total_student_sum)*100

#Percentage of students with passing math score
passing_reading_score = df_school_data_complete[df_school_data_complete['reading_score'] >= 70]
reading_score_count = passing_reading_score['student_name'].count()
passing_reading_average = (reading_score_count/total_student_sum)*100

#Calculate the percentage of students that passed both math and reading
overall_pass = (((math_score_count + reading_score_count)/total_student_sum)/2)*100

#Create dataframe for the results
summary = {'Total_Schools': [df_total_school_count],
          'Total_Student': [total_student_sum],
          'Total_Budget': [total_district_budget],
          'Avg_Math_Score': [average_math_score],
          'Avg_Reading_Score': [average_reading_score],
          '%_Passing_Math': [passing_math_average],
          '%_Passing_Reading': [passing_reading_average],
          'Overall_Passing_Rate': [overall_pass]}
summary

district_summary = pd.DataFrame(summary)

district_summary = district_summary[['Total_Schools',
          'Total_Student',
          'Total_Budget',
          'Avg_Math_Score',
          'Avg_Reading_Score',
          '%_Passing_Math',
          '%_Passing_Reading',
          'Overall_Passing_Rate']]
district_summary

,Total_Schools,Total_Student,Total_Budget,Avg_Math_Score,Avg_Reading_Score,%_Passing_Math,%_Passing_Reading,Overall_Passing_Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [26]:
#Calculate budget per student then add a column
df_school_data['Per Student Budget'] = df_school_data['budget']/df_school_data['size']
budget_per_student = df_school_data['Per Student Budget']

#Total budget per school
total_students = df_school_data['size']
#Total budget per school
total_budget = df_school_data['budget']

#Average math and reading scores per school
avg_math_reading_pass = df_student_data.groupby(['school_name'])['reading_score','math_score'].mean().reset_index()
avg_math_reading_pass


#Combine the average_passing_math and average_passing_reading to the school dataframe
df_school_data = df_school_data.merge(avg_math_reading_pass, on='school_name', how='outer')
df_school_data

#Remove school ID column
#del df_school_data['School ID']


#Sum of students with passing math score per school
passing_math_school = df_student_data[df_student_data['math_score'] >= 70]
 
total_passing_math_score = passing_math_school.groupby(['school_name'])['math_score'].count().reset_index()


#Sum of students with passing reading score per school
passing_reading_school = student_data[student_data['reading_score'] >= 70]

total_passing_reading_score = passing_reading_school.groupby(['school_name'])['reading_score'].count().reset_index()


#Combine the average_passing_math and average_passing_reading to the school dataframe
mr_passing_total = total_passing_math_score.merge(total_passing_reading_score,on='school_name',how='inner')

mr_passing_total_new = mr_passing_total.rename(columns = {'math_score':'math_total', 'reading_score':'reading_total' })


# ---> Merge passing count to school data dataframe
df_school_summary = df_school_data.merge(mr_passing_total_new,on='school_name',how='outer')


#Percentage passing math 
df_school_summary['% Passing Math'] = (df_school_summary['math_total']/df_school_summary['size'])*100
passing_math = df_school_summary['% Passing Math']

#Percentage passing reading
df_school_summary['% Passing Reading'] = (df_school_summary['reading_total']/df_school_summary['size'])*100
passing_reading = df_school_summary['% Passing Reading']


#Remove math and reading total columns
del df_school_summary['math_total']
del df_school_summary['reading_total']

#Reset index
df_school_summary = df_school_summary.set_index('school_name')
df_school_summary.index.name = None

# ---> Calculate the % Overall Passing Rate (Average of % Passing math and reading) and add Overall Passing Rate series to the dataframe
df_school_summary['% Overall Passing Rate'] = (df_school_summary['% Passing Math'] + df_school_summary['% Passing Reading'])/2
overall_passing_rate = df_school_summary['% Overall Passing Rate']

# ---> Rename math_score and reading_score to Average... accordingly
final_df_school_summary = df_school_summary.rename(columns = {'school_name':'','type':'School Type','size':'Total Students','budget':'Total School Budget','math_score':'Average Math Score', 'reading_score':'Average Reading Score' })

#Dictionary to hold lists created 
district = {'School Type': [type],
     'Total Students': [total_students],
     'Per Student Budget':[budget_per_student],
     'Total School Budget':[total_budget],
     'Average Math Score':[passing_math_average],
     'Average Reading Score':[passing_reading_average],
     '%Passing Math': [passing_math],
     '%Passing Reading': [passing_reading],
     '%Overall Passing Rate': [overall_passing_rate]}

district
#Dataframe to hold ditictionary
district_summary = pd.DataFrame(district, index = ['school_name'])


district_summary = district_summary[['School Type',
               'Total Students',
               'Per Student Budget',
               'Total School Budget',
               'Average Math Score',
               'Average Reading Score',
               '%Passing Math',
               '%Passing Reading',
               '%Overall Passing Rate']]
district_summary

<ipython-input-26-d84387e90dbf>:11: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  avg_math_reading_pass = df_student_data.groupby(['school_name'])['reading_score','math_score'].mean().reset_index()

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate
school_name,<class 'type'>,0 2917 1 2949 2 1761 3 4635 4 ...,0 655.0 1 639.0 2 600.0 3 652....,0 1910635 1 1884411 2 1056600 3 ...,74.980853,85.805463,0 65.683922 1 65.988471 2 93.86712...,0 81.316421 1 80.739234 2 95.85462...,Huang High School 73.500171 Figueroa Hi...

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type